body {
  background-color: rgba(0, 0, 0, 0.1);
}
.header {
  width: 60%;
  margin: 20px auto;
  text-align: center;
}
.header h1 {
  border: 2px solid black;
  border-radius: 3px;
  background-color: #54cff7;
}
.header img {
  width: 55%;
  border: 2px solid black;
  border-radius: 3px;
}
nav {
  width: 60%;
  margin: 0 auto 30px auto;
  height: 40px;
  background-color: #54cff7;
  border: 2px solid black;
  border-radius: 3px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  float: left;
  width: 200px;
  height: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
nav ul li:hover {
  background-color: #42a8c9;
}
nav ul li a {
  display: block;
  padding: 6.5px 8px;
  border-right: 1px solid black;
}
nav ul li a:link {
  text-decoration: none;
  color: black;
}
nav ul li a:visited {
  text-decoration: none;
  color: black;
}
.body {
  width: 60%;
  margin: 30px auto;
  border: 20px solid #cbd2d4;
  border-radius: 5px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
}
.item h2 {
  border-left: 7px solid #54cff7;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.item p, img, table, h3 {
  margin-left: 20px;
  margin-right: 20px;
}
.item p {
  text-align: justify;
}
.item p::first-letter {
  font-size: 1.5rem;
  color: #54cff7;
  text-shadow: 1px 1px grey;
}
.item img {
  width: 45%;
}
.item table, th, td {
  border: 1px solid black;
}
.item table {
  width: 40%;
  border-collapse: collapse;
}
.item td {
  padding: 5px;
}
.item h3 {
  border-left: 3px solid #54cff7;
  padding-left: 5px;
}
hr {
  border: 1px solid #f1f1f1;
  margin: 40px auto;
}
/* 簡単に最終課題のサイトに戻れるように以下の部分を追加した */
.return {
  width: 200px;
  height: 40px;
  background-color: rgba(64, 216, 219, 0.6);
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
  box-shadow: 5px 5px 10px #000;

}
.return a {
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 5px #000;
  display: inline-block;
  padding-top: 5px;
}
